@{
    ViewData["Title"] = "Home Page";
}

<div class="text-align-left">
    <h1 class="display-4">Welcome</h1>
    <p>Hope you are having a great time at this CTF!</p><br />
    <p>We would love to hear your <a href="/feedback/">Feedback</a> on it</p><br />
</div>
