@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="imagebg"></div>
<div class="row " style="margin-top: 50px">
    <div class="col-md-6 col-md-offset-3 form-container">
        <h2>Feedback</h2>
        <p>
            Please provide your feedback below:
        </p>

        <div class="row">
            <div class="col-sm-6">
                <label for="name">
                    Your Name:
                </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="col-sm-6">
                <label for="email">
                    Email:
                </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="comments">
                    Comments:
                </label>
                <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" cols="50" rows="7"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="Submit">
                    Submit:
                </label>
                <button onclick="sendJSON()" class="btn btn-lg btn-warning btn-block">Submit</button>


                <!-- Include the JavaScript file -->
                <script src="js/index.js"></script>

                <!--
                    
                Hint 1: Let's go JSON!
                using Newtonsoft.Json;

                    namespace MVC
                    {
                        public class Info
                        {
                            public string Name { get; set; }
                            public string Email { get; set; }
                            [JsonProperty(TypeNameHandling = TypeNameHandling.All)]
                            public dynamic Comments{ get; set; }
                        }
                    }
                 -->

            </div>
        </div>

    </div>
</div>