@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Insecure";
}

<h2>Insecure</h2>

<p1>JSON Deserialization could be harmful</p1>
<br>
<br>
<br>
Close enough, if you are an Instance of a well-known class, I can help to run your "Start" Method.
<br />
Conditions are important.



<!--

    Hint 2: Struggling with invoking a method??

    // Insure POST Api

    dynamic instance = value.Comments;
    string temp = "Temp";

    if(!(Object.ReferenceEquals(temp.GetType(), instance.GetType())))
    {
        if (value.Name.Equals("Start"))      <--- ??
            { instance.Start(); }
    }

-->
